:root {
  --bs-tertiary-bg-rgb: 8, 76, 97;
  --bg-darker: #084c61;
  --bg-brighter: #58b09c;
  --interactable: #00b2ca;
  --content-dark: #1a090d;
  --content-bright: #fbfffe;
}

.nav-link {
  color: var(--content-bright) !important;
}

.nav-item .fas {
  font-size: 200%;
}

#navbar__logo {
  width: clamp(200px, 25vw, 350px);
  margin: 5px 0;
}
