{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Stumblr</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg sticky-top bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.svg' %}" alt="stumblr"
          id="navbar__logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-2 mb-2 mb-lg-0">
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link active" href="{% url 'account_logout' %}"><i class="fas fa-sign-out"></i></a>
            {% else %}
            <a class="nav-link active" href="{% url 'account_login' %}"><i class="fas fa-user"></i></a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row my-4">
      <div class="col-12">
        {% block content %}
        {% endblock %}
      </div>
    </div>

  </div>
  <!-- Floating Action Button like Google Material, taken from https://opensource.propeller.in/components/floating-button -->
  <div class="menu pmd-floating-action" role="navigation">
    {% if user.is_authenticated %}
    <a href="javascript:void(0);"
      class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default"
      data-title="Create Collection" data-bs-toggle="modal" data-bs-target="#general_modal" id="create_collection_btn">
      <span class="pmd-floating-hidden">Create Collection</span>
      <i class="fa-regular fa-bookmark"></i>
    </a>
    <a href="javascript:void(0);"
      class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default"
      data-title="Create Post" data-bs-toggle="modal" data-bs-target="#general_modal" id="create_post_btn">
      <span class="pmd-floating-hidden">Create Post</span>
      <i class="fas fa-pen"></i>
    </a>
    <a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary"
      href="javascript:void(0);">
      <span class="pmd-floating-hidden">Action</span>
      <i class="fas fa-plus pmd-sm"></i>
    </a>
    {% endif %}
  </div>
  <!-- General purpose modal for content insertion via JS -->
  <div class="modal" tabindex="-1" data-bs-backdrop="static" id="general_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script> -->
  <!-- <script src="{% static 'js/popper.min.js' %}"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.7"></script>
  <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.10"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/07c8b05fd5.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js "></script>
  <script src="{% static 'js/main.js' %}" type="module"></script>
</body>

</html>