{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="{% if dark_theme %}dark{% else %}light{% endif %}">

<head>
  <title>Stumblr</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>

<body>
  <nav class="navbar navbar-expand-lg sticky-top bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.svg' %}" alt="stumblr"
          id="navbar__logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-bars nav-link text-larger"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-2 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link d-flex justify-content-between align-items-center" href="{% url 'index' %}"><i
                class="fas fa-quote-left"></i><strong class="ms-3 me-3 text-larger">Posts</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex justify-content-between align-items-center" href="{% url 'collections' %}"><i
                class="fas fa-bookmark"></i><strong class="ms-3 me-3 text-larger">Collections</strong></a>
          </li>
          <li class="nav-item">
            <button class="nav-link d-flex justify-content-between align-items-center w-100" id="theme_btn"><i
                class="fas fa-circle-half-stroke"></i><strong class="ms-3 me-3 text-larger">Theme</strong></button>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link d-flex justify-content-between align-items-center" href="{% url 'account_logout' %}"><i
                class="fas fa-arrow-right-from-bracket"></i><strong
                class="ms-3 me-3 text-larger">Log&nbsp;Out</strong></a>
            {% else %}
            <a class="nav-link d-flex justify-content-between align-items-center" href="{% url 'account_login' %}"><i
                class="fas fa-user"></i><strong class="ms-3 me-3 text-larger">Sign In</strong></a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row my-4">
      <div id="{% block content_id %}{% endblock %}"
        class="col-12 d-flex flex-wrap justify-content-center align-items-center">
        {% block content %}
        {% endblock %}
      </div>
    </div>

  </div>
  <!-- Floating Action Button like Google Material, taken from https://opensource.propeller.in/components/floating-button -->
  <div class="menu pmd-floating-action" role="navigation">
    {% if user.is_authenticated %}
    <a href="/user/{{ user.id }}"
      class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default"
      data-title="Go to Profile" id="profile_btn">
      <span class="pmd-floating-hidden">Go to Profile</span>
      <i class="fa-regular fa-user"></i>
    </a>
    <a href="javascript:void(0);"
      class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default"
      data-title="Create Post" data-bs-toggle="modal" data-bs-target="#general_modal" id="create_post_btn">
      <span class="pmd-floating-hidden">Create Post</span>
      <i class="fas fa-pen"></i>
    </a>
    <a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary"
      href="javascript:void(0);">
      <span class="pmd-floating-hidden">Action</span>
      <i class="fas fa-plus pmd-sm"></i>
    </a>
    {% endif %}
  </div>
  <!-- General purpose modal for content insertion via JS -->
  <div class="modal" tabindex="-1" data-bs-backdrop="static" id="general_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Toast container for errors and messages -->
  <div class="toast-container position-fixed bottom-0 start-0 p-2"></div>
  <!-- Loader animation template -->
  <template id="loader">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </template>
  <!-- Toast template for errors and info, requires:
    - .toast: bg-danger or bg-info, depending on if error
    - .toast-body: innerText 
  -->
  <template id="toast">
    <div class="toast d-flex align-items-center justify-content-between">
      <div class="toast-body text-white">
      </div>
      <button type="button" class="btn-close btn-close-white me-2" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </template>
  <!-- Menu Wrapper Template, static -->
  <template id="collection-menu__container">
    <form class="collection-list">
      <ul class="list-group">
      </ul>
    </form>
    <form class="add-collection">
      <button type="button" class="btn btn-primary w-100 mt-2" aria-label="create new Collection">
        <i class="fas fa-plus"></i>
      </button>
      <input class="form-control mt-2" type="text" placeholder="New Collection Name" aria-label="Enter new
            Collection name and press enter to create" required>
    </form>
  </template>

  <!-- Menu Item Template, requires:
  - input:
    - id:  col-{collection.id}
    - value: {collection.id}
    - aria-label: add post to {collection.name}
    - checked: if collection.checked
  - label:
    - for: col-{collection.id}
    - innerText: {collection.name}
-->
  <template id="collection-menu__item">
    <li class="list-group-item d-flex justify-content-between pe-0">
      <div class="row w-100">
        <div class="col-9">
          <input type="checkbox" class="btn-check" autocomplete="off" name="collection">
          <label class="btn btn-primary w-100 text-center w-100 overflow-ellipsis">
          </label>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary w-100" data-action="edit_collection">
            <i class="fas fa-pen"></i>
          </button>
        </div>
      </div>
      <input class="form-control mt-2" type="text" placeholder="New Collection Name"
        aria-label="Edit the name of the collection" required>
    </li>
  </template>
  <!-- Post Template
  -->
  <template id="post">
    <div class="card col-12 col-md-5 item-card my-2 mx-auto">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="meta-data">
          <div class="author">
            <a href="|| author_url ||">
              @|| author_username ||
            </a>
          </div>
          <div class="date">|| time_posted ||</div>
        </div>
        <div class="post__actions d-flex justify-content-between">
          {| authenticated |}
          <button tabindex="0" class="btn btn-primary me-2" data-post="|| post_id ||" data-action="add_to_collection">
            <i class="fa-regular fa-bookmark"></i>
          </button>
          <div class="collection-menu card p-2"></div>
          {| authenticated |}
          {| actionable |}
          <button class="btn btn-primary me-2" data-post="|| post_id ||" data-action="edit">
            <i class="fas fa-pen"></i>
          </button>
          <button class="btn btn-danger" data-post="|| post_id ||" data-action="delete"><i
              class="fas fa-trash"></i></button>
          {| actionable |}
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">|| text ||</p>
      </div>
    </div>
  </template>
  <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.7"></script>
  <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.10"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/07c8b05fd5.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js "></script>
  <script src="{% static 'js/main.js' %}" type="module"></script>
</body>

</html>