{% for post in post_list %}
<div class="card col-12 col-md-5 m-2">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="meta-data">
      <div class="author">
        <a href="{% url 'user-profile' post.author.id %}">
          @{{ post.author.username }}
        </a>
      </div>
      <div class="date">{{ post.time_posted|date:"j/m/Y H:i" }}</div>
    </div>
    <div class="post__actions d-flex justify-content-between">
      {% if user.is_authenticated %}
      <button tabindex="0" class="btn btn-primary me-2" data-post="{{ post.id }}" data-action="add_to_collection">
        <i class="fa-regular fa-bookmark"></i>
      </button>
      <div class="collection-menu card p-2">Test</div>
      {% endif %}
      {% if post.author == user %}
      <button class="btn btn-primary me-2" data-post="{{ post.id }}" data-action="edit">
        <i class="fas fa-pen"></i>
      </button>
      <button class="btn btn-danger" data-post="{{ post.id }}" data-action="delete"><i
          class="fas fa-trash"></i></button>
      {% endif %}
    </div>
  </div>
  {% if post.reblogged %}
  <div class="card col-11 mx-auto">
    <div class="card-body">
      <p class="card-text">{{ post.reblogged.text }}</p>
    </div>
  </div>
  {% endif %}
  <div class="card-body">
    <p class="card-text">{{ post.text }}</p>
  </div>
</div>
{% endfor %}
{% if post_list.has_next %}
<div class="scroll w-100" data-page="{{ post_list.next_page_number }}" data-type="posts"></div>
{% endif %}