{% for post in post_list %}
<div class="card col-md-6 col-lg-4 mx-auto my-2">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="meta-data">
      <div class="author"><a href="{% url 'user-profile' post.author.id %}">@{{ post.author.username }}</a>
      </div>
      <div class="date">{{ post.time_posted|date:"j/m/Y H:i" }}</div>
    </div>
    <div class="post__actions d-flex justify-content-between">
      {% if user.is_authenticated %}
      <button tabindex="0" class="btn btn-primary me-2" data-post="{{ post.id }}" data-action="add_to_collection">
        <i class="fa-regular fa-bookmark"></i>
      </button>
      <div class="collection-menu card p-2">Test</div>
      {% endif %}
      {% if post.author == user %}
      <button class="btn btn-danger" data-post="{{ post.id }}" data-action="delete"><i
          class="fas fa-trash"></i></button>
      {% endif %}
    </div>
  </div>
  {% if post.reblogged %}
  <div class="card col-11 mx-auto">
    <div class="card-body">
      <p class="card-text">{{ post.reblogged.text }}</p>
    </div>
  </div>
  {% endif %}
  <div class="card-body">
    <p class="card-text">{{ post.text }}</p>
  </div>
</div>
{% endfor %}
<!-- Menu Wrapper Template, static -->
<template id="collection-menu__container">
  <form class="collection-list">
    <ul class="list-group">
    </ul>
  </form>
  <form class="add-collection">
    <button type="button" class="btn btn-primary w-100 mt-2" aria-label="create new Collection">
      <i class="fas fa-plus"></i>
    </button>
    <input class="form-control mt-2" type="text" placeholder="New Collection Name" aria-label="Enter new
            Collection name and press enter to create" required>
  </form>
</template>

<!-- Menu Item Template, requires:
  - input:
    - id:  col-{collection.id}
    - value: {collection.id}
    - aria-label: add post to {collection.name}
    - checked: if collection.checked
  - label:
    - for: col-{collection.id}
    - innerText: {collection.name}
-->
<template id="collection-menu__item">
  <li class="list-group-item d-flex justify-content-between pe-0">
    <div class="row w-100">
      <div class="col-9">
        <input type="checkbox" class="btn-check" autocomplete="off" name="collection">
        <label class="btn btn-primary w-100 text-center w-100 overflow-ellipsis">
        </label>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-primary w-100" data-action="edit_collection">
          <i class="fas fa-pen"></i>
        </button>
      </div>
    </div>
    <input class="form-control mt-2" type="text" placeholder="New Collection Name"
      aria-label="Edit the name of the collection" required>
  </li>
</template>